<script>

    import { onMount } from 'svelte';
    import { startOfWeek, subWeeks, addWeeks, parseISO, isBefore, isSameWeek } from 'date-fns';

    import TeamWeek from './TeamWeek.html';
    import { number_week_displayed, planning_start_date } from '../store.js';

    export let users;
    export let firstDayOfTheWeek;
    export let days;
    export let slug;
    export let dataDays;
//    export let disabledDays;
    export let socket;
    export let penultimateWeek;
    const nbWeek = 1;

    let weeks = Array($number_week_displayed);
    let observer;

    onMount(() => {
        observer = new IntersectionObserver(loadMore, {
            rootMargin: '-60px 0px 0px 0px',
            threshold: 1,
        });

        let targetNext = document.querySelector('.load_next');
        observer.observe(targetNext);

        if (isBefore(parseISO($planning_start_date), penultimateWeek)) {
            scroll(0, 30);
            let targetPrevious = document.querySelector('.load_previous');
            observer.observe(targetPrevious);
        }
    });
    const loadMore = function(entries) {
        entries.forEach(entry => {
            // target is intersecting the viewport
            if (entry.isIntersecting) {
                if(entry.target.className.indexOf('load_previous') >= 0) {
                    loadPrevious();
                } else if(entry.target.className.indexOf('load_next') >= 0) {
                    loadNext();
                }
            }
        });
    }
    const loadPrevious = () => {
        penultimateWeek = subWeeks(startOfWeek(penultimateWeek, {weekStartsOn: firstDayOfTheWeek}), nbWeek);
        weeks = weeks.concat(Array(nbWeek));
        if (!isSameWeek(parseISO($planning_start_date), penultimateWeek)) {
            setTimeout(() => {
                scroll(0, 30);
            }, 100);
        }
    };
    const loadNext = () => {
        // TODO uncomment and finish 
//        let disablingDays = disabling(addWeeks(penultimateWeek, weeks.length-1), addWeeks(penultimateWeek, weeks.length-1+nbWeek), [0, 6], []);
//        fetch('planning/' + slug + '/disablingdays.json', {
//            method: 'post',
//            headers: {
//                'Accept': 'application/json',
//                'Content-Type': 'application/json'
//            },
//            body: JSON.stringify(disablingDays)
//        }).then(() => {
            
            weeks = weeks.concat(Array(nbWeek));
//        });
    };
</script>
{#if isBefore(parseISO($planning_start_date), penultimateWeek)}
    <div class="load_more load_previous">
        <span on:click={loadPrevious}>Load previous week</span>
    </div>
{/if}
{#each weeks as week, i}
<TeamWeek {users} {firstDayOfTheWeek} {days} {slug} {dataDays} {socket} date='{addWeeks(penultimateWeek, i)}'></TeamWeek>
{/each}
<div class="load_more load_next">
    <span on:click={loadNext}>Load next week</span>
</div>
<style>
    .load_more {
        color: darkgrey;
        height: 20px;
        margin-bottom: 15px;
        display: block;
    }
</style>
