<script>
    import { getWeek, format, addDays } from 'date-fns';
    
    import Week from './Week.html';
    
    export let users;
    export let firstDayOfTheWeek;
    export let days;
    export let disabledDays;
    export let date;
    export let dataDays;
    export let slug;
    export let socket;
    let displayDays = [];
        
    const convertDate = function(dayIndex){
        return new Date(addDays(date, dayIndex).getTime() - (addDays(date, dayIndex).getTimezoneOffset() * 60000)).toISOString()
    }
    
    let shift = days.indexOf(firstDayOfTheWeek);
    if(shift < 0) {
        shift = 0;
    }
    for (let _j = 0; _j < days.length; _j++) {
        let day = days[_j];
        let idxDayNumber = _j - shift;
        if (idxDayNumber < 0) {
            idxDayNumber = days.length  + idxDayNumber;
        }
        if (disabledDays.indexOf(day) >= 0) {
            if(dataDays[convertDate(idxDayNumber)] == null) {
                dataDays[convertDate(idxDayNumber)] = {};
            }
            dataDays[convertDate(idxDayNumber)] = {
                null : {
                    type: -1
                }
            }
//        } else {
//            displayDays[idxDayNumber] = {disabled :false, index: _j};
        }
            displayDays[idxDayNumber] = {index: _j};
    }

</script>
<div class='team-week'>
    <div class="week">
        <span class="cell week-row-header bold">W{getWeek(date)}</span>
        {#each displayDays as day, i}
        <span class="cell day team-week-header long">{format(addDays(date, i), "cccccc dd/MM")}</span>
        <span class="cell day team-week-header short">{format(addDays(date, i), " dd/MM")}</span>
        {/each}
    </div>
    {#each users as user, i}
    <Week {user} {displayDays} {date} {slug} {dataDays} {socket}></Week>
    {/each}
</div>

<style>
    .bold {
        font-weight: bold;
    }
    .week-row-header {
        display: inline-block;
        width: 15%;
    }
    .team-week-header.short{
        display: none;
    }
    .day {
        background-color:transparent;
    }
    .team-week {
        margin-bottom: 20px;
    }
    @media (max-width: 750px) {
        .team-week-header.long{
            display: none;
        } 
        .team-week-header.short{
            display: inline-block;
        }
    }
    @media (max-width: 550px) {
        .team-week-header.short{
            display: none;
        }
    }
</style>