<script>
    import { getWeek, format, addDays } from 'date-fns';
    
    import Week from './Week.html';
    
    export let users;
    export let firstDayOfTheWeek;
    export let days;
    export let disabledDays;
    export let date;
    export let dataDays;
    export let slug;
    export let socket;
    let displayDays = [];
    
    let shift = days.indexOf(firstDayOfTheWeek);
    if(shift < 0) {
        shift = 0;
    }
    for (let _j = 0; _j < days.length; _j++) {
        let day = days[_j];
        let idxDayNumber = _j - shift;
        if (idxDayNumber < 0) {
            idxDayNumber = days.length  + idxDayNumber;
        }
        if (disabledDays.indexOf(day) >= 0) {
            displayDays[idxDayNumber] = {disabled :true, index: _j};
        } else {
            displayDays[idxDayNumber] = {disabled :false, index: _j};
        }
    }
</script>
<div class='team-week'>
    <div class="week">
        <span class="cell week-row-header bold">W{getWeek(date)}</span>
        {#each displayDays as day, i}
        <span class="cell day">{format(addDays(date, i), "cccccc dd/MM")}</span>
        {/each}
    </div>
    {#each users as user, i}
    <Week {user} {displayDays} {date} {slug} {dataDays} {socket}></Week>
    {/each}
</div>

<style>
    .bold {
        font-weight: bold;
    }
    .week-row-header {
        display: inline-block;
        width: 120px;
    }
    .day {
        margin: 4px;
        height: 20px;
        width: 70px;
        display: inline-block;
    }
    .team-week {
        margin-bottom: 20px;
    }
</style>