<script>
    import { onMount } from 'svelte';
    import { getWeek, format, addDays } from 'date-fns';
    import cloneDeep from 'lodash/cloneDeep';

    import { selected_event } from '../store.js';

    export let user;
    export let slug;
    export let date;
    export let dataDays;
    export let displayDays;
    export let socket;
    let onCall = [];
    let days = cloneDeep(displayDays);

    const callClick = dayIndex => () => {
        if(dataDays[convertDate(dayIndex)] != null && dataDays[convertDate(dayIndex)][user.id] != null) {
            if(dataDays[convertDate(dayIndex)][user.id].type == $selected_event) {
                dataDays[convertDate(dayIndex)][user.id].type = 0;
            }else{
                dataDays[convertDate(dayIndex)][user.id].type = $selected_event;
            }
        }else if(dataDays[convertDate(dayIndex)] == null) {
            dataDays[convertDate(dayIndex)] = {};
            dataDays[convertDate(dayIndex)][user.id] = {
                type: $selected_event
            };
        }else{
            dataDays[convertDate(dayIndex)][user.id] = {
                type: $selected_event
            };
        }
        
        let event = {slug: slug};
        event.data = {
            slug: slug,
            date: new Date(days[dayIndex].daydate.getTime() - (days[dayIndex].daydate.getTimezoneOffset() * 60000)),
            user: user.id,
            type: dataDays[convertDate(dayIndex)][user.id].type
        };
        if(dataDays[convertDate(dayIndex)][user.id]._id != null) {
            event.data._id = dataDays[convertDate(dayIndex)][user.id]._id;
        }
        socket.emit("day", event);
    };
    
    const convertDate = function(dayIndex){
        if(days[dayIndex].utcdate == null){
            days[dayIndex].daydate = addDays(date, dayIndex);
            days[dayIndex].utcdate = new Date(days[dayIndex].daydate.getTime() - (days[dayIndex].daydate.getTimezoneOffset() * 60000)).toISOString();
        }
        return days[dayIndex].utcdate;
    }
    
    const displayClass = function(day) {
        if(day == null) {
            return '0';
        }
        if(day[null] != null) {
            return day[null].type;
        }
        if(day[user.id] != null) {
            return day[user.id].type;
        }
    }

</script>

<div class="week">
    <span class="cell week-row-header">{user.name}</span>
    {#each days as day, i}
    <span 
        on:click={callClick(i)}
        class="cell day day-evt-{displayClass(dataDays[new Date(addDays(date, i).getTime() - (addDays(date, i).getTimezoneOffset() * 60000)).toISOString()])}"
        class:disabled="{day.disabled}">
    </span>
    {/each}
</div>

<style>
    /*@import "./styles_variables.less";*/
    .week-row-header {
        vertical-align: top;
        line-height: 25px;
        display: inline-block;
        width: 15%;
    }
</style>