<script>
    import { onMount } from 'svelte';
    import { getWeek, format, addDays } from 'date-fns';
    import cloneDeep from 'lodash/cloneDeep';

    export let user;
    export let slug;
    export let date;
    export let dataDays;
    export let displayDays;
    export let socket;
    let onCall = [];
    let days = cloneDeep(displayDays);
    let defaultType = 1;//oncalled

    const callClick = dayIndex => () => {
            let daydate = format(addDays(date, dayIndex), "yyyyMMdd");
            let event = {slug: slug};
            
            // determine if this day for this user has a custom event (e.g oncall, vacation,...)
            let dataDayIndex = dataDays.findIndex((x) => x.date === daydate && x.user == user.id);
            // this day had a record
            if (dataDayIndex >= 0) {
                if(dataDays[dataDayIndex].type == 1) {
                    dataDays[dataDayIndex].type = 0;
                }else{
                    dataDays[dataDayIndex].type = 1;
                }
                event.data = dataDays[dataDayIndex];
            }else{
                event.data = {
                    slug: slug,
                    date: daydate,
                    user: user.id,
                    type: defaultType
                }
            }
            socket.emit("day", event);
        };
        
</script>

<div class="week">
    <span class="cell week-row-header">{user.name}</span>
    {#each days as day, i}
    <span 
        on:click={callClick(i)}
        class:onCall="{dataDays.find((x) => x.date === format(addDays(date, i), 'yyyyMMdd') && x.user == user.id && x.type == 1) != null}"
        class:disabled="{day.disabled}"
        class="cell day">
    </span>
    {/each}
</div>

<style>
    /*@import "./styles_variables.less";*/
    .week-row-header {
        vertical-align: top;
        line-height: 25px;
        display: inline-block;
        width: 120px;
    }
    .day {
        margin: 4px;
        background-color: palegoldenrod;
        border-color: black;
        height: 20px;
        width: 70px;
        display: inline-block;
    }
    .cell {
    }
    .onCall {
        background-color: indianred;
    }
    .disabled {
        background-color: lightsteelblue;
    }
</style>