<script>
    import { onMount } from 'svelte';
    import { getWeek, format, addDays } from 'date-fns';
    import cloneDeep from 'lodash/cloneDeep';

    import { selected_event } from '../store.js';

    export let user;
    export let slug;
    export let date;
    export let dataDays;
    export let displayDays;
    export let socket;
    let onCall = [];
    let days = cloneDeep(displayDays);

    const callClick = dayIndex => () => {
        if(dataDays[user.id+''] != null && dataDays[user.id+''][convertDate(dayIndex)] != null) {
            if(dataDays[user.id+''][convertDate(dayIndex)].type == $selected_event) {
                dataDays[user.id+''][convertDate(dayIndex)].type = 0;
            }else{
                dataDays[user.id+''][convertDate(dayIndex)].type = $selected_event;
            }
        }else if(dataDays[user.id+''] == null) {
            dataDays[user.id+''] = {};
            dataDays[user.id+''][convertDate(dayIndex)] = {
                type: $selected_event
            };
        }else{
            dataDays[user.id+''][convertDate(dayIndex)] = {
                type: $selected_event
            };
        }
        
        let event = {slug: slug};
        event.data = {
            slug: slug,
            date: new Date(days[dayIndex].daydate.getTime() - (days[dayIndex].daydate.getTimezoneOffset() * 60000)),
            user: user.id,
            type: dataDays[user.id+''][convertDate(dayIndex)].type
        };
        if(dataDays[user.id+''][convertDate(dayIndex)]._id != null) {
            event.data._id = dataDays[user.id+''][convertDate(dayIndex)]._id;
        }
        socket.emit("day", event);
//        let daydate = addDays(date, dayIndex);
//        let event = {slug: slug};
//        let dayutcdate = new Date(daydate.getTime() - (daydate.getTimezoneOffset() * 60000)).toISOString();
////console.log(convertDate(dayIndex));
//        // determine if this day for this user has a custom event (e.g oncall, vacation,...)
//        console.log(dataDays[dataDays.length - 1]);
//        let dataDayIndex = dataDays.findIndex((x) => x.date === daydate && x.user == user.id);
//        // this day had a record
//        if (dataDayIndex >= 0) {
//            if (dataDays[dataDayIndex].type == $selected_event) {
//                dataDays[dataDayIndex].type = 0;
//            } else {
//                dataDays[dataDayIndex].type = $selected_event;
//            }
//            event.data = dataDays[dataDayIndex];
//        } else {
//            event.data = {
//                slug: slug,
//                date: new Date(daydate.getTime() - (daydate.getTimezoneOffset() * 60000)),
//                user: user.id,
//                type: $selected_event
//            }
//        }
//        socket.emit("day", event);
    };
    
    const convertDate = function(dayIndex){
        if(days[dayIndex].utcdate == null){
            days[dayIndex].daydate = addDays(date, dayIndex);
            days[dayIndex].utcdate = new Date(days[dayIndex].daydate.getTime() - (days[dayIndex].daydate.getTimezoneOffset() * 60000)).toISOString();
        }
        return days[dayIndex].utcdate;
    }

</script>

<div class="week">
    <span class="cell week-row-header">{user.name}</span>
    {#each days as day, i}
    <span 
        on:click={callClick(i)}
        class="cell day {dataDays[user.id+''] == null || dataDays[user.id+''][convertDate(i)] == null?'day-evt-0':'day-evt-'+dataDays[user.id][convertDate(i)].type}"
        class:disabled="{day.disabled}">
    </span>
    {/each}
</div>

<style>
    /*@import "./styles_variables.less";*/
    .week-row-header {
        vertical-align: top;
        line-height: 25px;
        display: inline-block;
        width: 15%;
    }

    .disabled {
        background-color: gainsboro;
    }
</style>