@font-face {
	font-family: 'JournalSansWebBold';
	src: url('fonts/Journal_Sans_Bold.eot');
	src:
	     url('fonts/Journal_Sans_Bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Journal_Sans_Bold.woff2') format('woff2'),
	     url('fonts/Journal_Sans_Bold.woff') format('woff'),
	     url('fonts/Journal_Sans_Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'JournalSansWebBook';
	src: url('fonts/Journal_Sans_Book.eot');
	src:
	     url('fonts/Journal_Sans_Book.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Journal_Sans_Book.woff2') format('woff2'),
	     url('fonts/Journal_Sans_Book.woff') format('woff'),
	     url('fonts/Journal_Sans_Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*@font-face {
	font-family: 'JournalSansWebItalic';
	src: url('fonts/Journal_Sans_Italic.eot');
	src:
	     url('fonts/Journal_Sans_Italic.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Journal_Sans_Italic.woff2') format('woff2'),
	     url('fonts/Journal_Sans_Italic.woff') format('woff'),
	     url('fonts/Journal_Sans_Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
	font-family: 'HKGrotesk-Bold';
	src: url('fonts/HKGrotesk-Bold.eot');
	src:
	     url('fonts/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/HKGrotesk-Bold.woff2') format('woff2'),
	     url('fonts/HKGrotesk-Bold.woff') format('woff'),
	     url('fonts/HKGrotesk-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HKGrotesk-Medium';
	src: url('fonts/HKGrotesk-Medium.eot');
	src:
	     url('fonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
	     url('fonts/HKGrotesk-Medium.woff2') format('woff2'),
	     url('fonts/HKGrotesk-Medium.woff') format('woff'),
	     url('fonts/HKGrotesk-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*@font-face {
	font-family: 'HKGrotesk-Italic';
	src: url('fonts/HKGrotesk-Italic.eot');
	src:
	     url('fonts/HKGrotesk-Italic.eot?#iefix') format('embedded-opentype'),
	     url('fonts/HKGrotesk-Italic.woff2') format('woff2'),
	     url('fonts/HKGrotesk-Italic.woff') format('woff'),
	     url('fonts/HKGrotesk-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/
body {
	margin: 0;
	font-family: JournalSansWebBook, HKGrotesk-Medium, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}
b, .bold {
    font-family: JournalSansWebBold, HKGrotesk-Bold, sans-serif;
    font-weight: normal;
}

pre, code {
	font-family: JournalSansWebBook, HKGrotesk-Medium, menlo, inconsolata, monospace !important;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.day {
    margin: 3px;
    background-color: #d1dcd6;
    border-color: black;
    height: 20px;
    width: 11%;
    display: inline-block;
}
.events-selection .day {
    width: 30%;
}
.text-grey {
    color: #aaa;
}
.cell {
}
.day-evt--2 {
    background-color: #bebeca;/*d1d1dc*/
}
.day-evt--1 {
    background-color: #bebeca;
}
.day-evt-1 {
    background-color: indianred;
}
.day-evt-2 {
    background-color: palegoldenrod;
}
.day-evt-3 {
    background-color: cadetblue;
}
.day-evt-4 {
    background-color: royalblue;
}
.day-evt-5 {
    background: linear-gradient(to right, royalblue, royalblue 47%, #d1dcd6 55%, #d1dcd6);
}
.day-evt-6 {
    background: linear-gradient(to right, #d1dcd6, #d1dcd6 47%, royalblue 55%, royalblue);
}
.day-evt-7 {
    background: linear-gradient(to right, royalblue, royalblue 47%, indianred 55%, indianred);
}
.day-evt-8 {
    background: darkviolet;
}
.team-week {
    line-height: 0.5;
    padding-left: 1%;
}
.team-week.toweek {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: mistyrose;
}
.day.today {
    border-bottom: 6px solid red;
    margin-bottom: -3px;
    font-family: JournalSansWebBold, HKGrotesk-Bold, sans-serif;
}
.processed_infos {
    padding: 0 0 5px 5px;
    display: inline-block;
}
.process-left-comin {
/*    border-left-style: dashed;
    border-left-color: orange;*/
}
.process-bottom-comin {
/*    border-left-style: dashed;
    border-left-color: orange;
    border-bottom-style: dashed;
    border-bottom-color: orange;*/
}

@media (max-width: 750px) {
	.day {
		width: 10%;
	}
}
@media (max-width: 400px) {
	.day {
		width: 9%;
	}
}
@media (max-width: 265px) {
	#sapper main {
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
