@font-face {
	font-family: 'JournalSansWebBold';
	src: url('fonts/Journal_Sans_Bold.eot');
	src:
	     url('fonts/Journal_Sans_Bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Journal_Sans_Bold.woff2') format('woff2'),
	     url('fonts/Journal_Sans_Bold.woff') format('woff'),
	     url('fonts/Journal_Sans_Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'JournalSansWebBook';
	src: url('fonts/Journal_Sans_Book.eot');
	src:
	     url('fonts/Journal_Sans_Book.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Journal_Sans_Book.woff2') format('woff2'),
	     url('fonts/Journal_Sans_Book.woff') format('woff'),
	     url('fonts/Journal_Sans_Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'JournalSansWebItalic';
	src: url('fonts/Journal_Sans_Italic.eot');
	src:
	     url('fonts/Journal_Sans_Italic.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Journal_Sans_Italic.woff2') format('woff2'),
	     url('fonts/Journal_Sans_Italic.woff') format('woff'),
	     url('fonts/Journal_Sans_Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
	font-family: JournalSansWebBook, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}
b, .bold {
    font-family: JournalSansWebBold;
    font-weight: normal;
}

pre, code {
	font-family: JournalSansWebBook, menlo, inconsolata, monospace !important;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.day {
    margin: 3px;
    background-color: whitesmoke;
    border-color: black;
    height: 20px;
    width: 75px;
    display: inline-block;
}
.cell {
}
.day-evt--2 {
    background-color: gainsboro;
}
.day-evt--1 {
    background-color: gainsboro;
}
.day-evt-1 {
    background-color: indianred;
}
.day-evt-2 {
    background-color: palegoldenrod;
}
.day-evt-3 {
    background-color: cadetblue;
}
.day-evt-4 {
    background-color: royalblue;
}
.team-week {
    line-height: 0.5;
}

@media (max-width: 750px) {
	.day {
		width: 10%;
	}
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
